# Build & Release Folders.
bin/
doc/

# Package Files
.war
.ear
.swp

# Compiled Java files.
.class

# Experimental Bits
# The output from an XML Doclet.
jel/

# Properties File for Tests
test.properties