language: java

matrix:
  include:
    - dist: trusty
      jdk: oraclejdk8
    - dist: trusty
      jdk: oraclejdk9
    - dist: precise
      sudo: false
      jdk: oraclejdk7
    - dist: precise
      sudo: false
      jdk: openjdk7
      # Workaround for Travis CI issue 5227, which results in a buffer overflow
      # caused by Java when running the build on OpenJDK.
      # https://github.com/travis-ci/travis-ci/issues/5227
      before_install:
        - cat /etc/hosts # optionally check the content *before*
        - sudo hostname "$(hostname | cut -c1-63)"
        - sed -e "s/^\\(127\\.0\\.0\\.1.*\\)/\\1 $(hostname | cut -c1-63)/" /etc/hosts > /tmp/hosts
        - sudo mv /tmp/hosts /etc/hosts
        - cat /etc/hosts # optionally check the content *after*

before_script:
  - chmod +x gradlew
script:
  - ./gradlew check
  - ./gradlew jacocoTestReport
  - ./gradlew cleanJar
after_success:
  - bash <(curl -s https://codecov.io/bash)
